<div class="wrapper">
<div class="contents">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="contents__form">

      <h1>Sign Up</h1>
    
      <div class="contents__form__box">
        <h3><%= f.label :nickname %> <em>(10 characters maximum)</em></h3>
        <%= f.text_field :nickname, autofocus: true, maxlength: "10" %>
      </div>

      <div class="contents__form__box">
        <h3><%= f.label :email %></h3>
        <%= f.email_field :email %>
      </div>

      <div class="contents__form__box">
        <h3><%= f.label :password %></h3>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="contents__form__box">
        <h3><%= f.label :password_confirmation %></h3>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="contents__form__box">
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      </div>

      <div class="contents__form__box">
        <%= render "devise/shared/links" %>
      </div>

    </div>

  <% end %>

  <div class="footer"></div>

</div>
</div>