<div class="wrapper">
    <div class="contents">
        <%= form_for(@tweet, method: :patch) do |f|%>

            <div class="contents__form">
                <h3><%= f.label :title, '投稿タイトル' %></h3>
                <%= f.text_field :title, placeholder: "Title" %>
            </div>

            <div class="contents__form">
                <h3><%= f.label :text, '投稿内容' %></h3>
                <%= f.text_area :text, placeholder: "Text" %>
            </div>
            <div class="contents__form">
                <%= f.submit "Save" %>
            </div>

        <% end %>
    </div>
</div>