<div class="wrapper">
    <div class="contents">
        <%= form_for(@tweet) do |f|%>

            <div class="contents__form">
            
                <div class="contents__form__box">
                    <h3><%= f.label :title, '投稿タイトル' %></h3>
                    <%= f.text_field :title, placeholder: "Title", value: "" %>
                </div>

                <div class="contents__form__box">
                    <h3><%= f.label :text, '投稿内容' %></h3>
                    <%= f.text_area :text, placeholder: "Text" %>
                </div>
                <div class="contents__form__box">
                    <%= f.submit "Post" %>
                </div>

            </div>

        <% end %>
        <div class="footer"></div>
    </div>
</div>