<div class="wrapper">
    <div class="contents">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="contents__form">

          <h1>Forgot your password?</h1>

          <div class="contents__form__box">
            <h3><%= f.label :email %></h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="contents__form__box">
            <div class="actions">
              <%= f.submit "Send me reset password instructions" %>
            </div>
          </div>

          <div class="contents__form__box">
            <%= render "devise/shared/links" %>
          </div>

        </div>

        <% end %>

        <div class="footer"></div>
    </div>
</div>
