<div class="wrapper">
<div class="contents">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="contents__form">

      <h1>Sign In</h1>

      <div class="contents__form__box">
        <h3><%= f.label :email %></h3>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="contents__form__box">
        <h3><%= f.label :password %></h3>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="contents__form__box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="contents__form__box">
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      </div>

      <div class="contents__form__box">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  <% end %>
  <div class="footer"></div>

</div>
</div>