<div class="header">
    <div class="header__contents">
        <div class="header__contents__logo">
            <%= image_tag "mini-blog-logo_paleturquoise.png", width: "375px", height: "90px" %>
        </div>
        <% if user_signed_in? %>
            <ul class="nav">
                <li class="signout"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <li class="new"><%= link_to "New", "/tweets/new", class: "post" %></li>
            </ul>
        <% else %>
            <ul class="nav">
                <li class="signin"><%= link_to "Sign in", new_user_session_path, class: "post" %></li>
                <li class="signup"><%= link_to "Sign up", new_user_registration_path, class: "post" %></li>
            </ul>
        <% end %>
    </div>
</div>