<!DOCTYPE html>
<html>
  <head>
    <title>mini-blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.13.0/css/all.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "common/header"%>
    <%= yield %>
  </body>
</html>
